[data-theme="dark"] {
    color: var(--light);

    body {
        background-color: var(--dark);
    }

    a {
        color: var(--light)
    }

    header {
        color: var(--light);
        background-color: var(--dark);
    }

    footer {
        color: var(--light);
        background-color: var(--dark);
    }

}