@import './theme-variables';
@import './fonts';
@import './darkmode';

html {
    scroll-behavior: smooth;
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}



h1 {
    font-weight: 700;
    font-size: var(--heading-h1);
}

h2 {
    font-weight: 600;
    font-size: var(--heading-h2);
}

h3 {
    font-weight: 500;
    font-size: var(--heading-h3);
}

h4 {
    font-weight: 500;
    font-size: var(--heading-h4);
}

p {
    margin: 0;
    padding-bottom: 16px;
    line-height: 1.5;
}

a {
    color: var(--link-color);
}


#site-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


main {
    flex: 1;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--dark);

    div {
        display: flex;
        align-items: center;
    }
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--dark);
    font-size: 0.875rem;

    a {
        color: var(--light);
    }
}

