:root {

    // Colours
    --gray: #cccccc;
    --light-blue: #add8e6;
    --dark: #121212;
    --light: #ffffff;

    // Globals
    --font-color: var(--dark);
    --link-color: var(--light-blue);


    // Font Sizes
    --heading-h1: 4rem;
    --heading-h2: 3.5rem;
    --heading-h3: 3rem;
    --heading-h4: 2.75rem;
    --heading-h5: 2.25rem;
    --heading-h6: 1.5rem;

}